@model MyMovieApp.ViewModel.MovieViewModel

<style>
    .censorDurationList{
        display : flex;
        text-decoration : none;
    }
    ol,ul{
        list-style :none;
        margin : 0;
        padding : 0;
    }
    .movieDetail{
        font-size: 16px;
        color: #7e7e7e;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -.08px;
    }

    .video-frame {
        border-radius: 15px;
    }

    .textCont{
           margin-right :15px;
    }
    

    .heartLike, .heartDislike {
        display:flex;
        border: solid 1px #7e7e7e;
        border-radius : 94px;
        justify-content:center;
        align-items:center;
        padding :10px;
        margin-right :15px;
        width:150px;
        height:40px;        
    }
    .pillButton {
        display:flex;
        border: 1px solid hsla(0,0%,6%,.23);
        border-radius : 94px;
       
        padding :3px 10px;
        margin-right :8px;
           
    }
      #dateContainer {
        display: flex;
        gap: 10px;
        margin : 14px;
    }
    .innerMain{
        max-width: 1260px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }
      .dateBox {
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
    }
    .movieDetailWrap{
        background-color:#f6f6f6;
        padding-top:22px;
        width:100%;
    }
    .widgetWrapper{
        padding:26px 24px;
        border-radius:24px;
        background: #fff;
        margin-bottom:25px;
    }
    .infoItem span{
        color:#7e7e7e;
        font-size : 12px;
        font-weight:bold;
    }
    .imgCast, .movieCast{
       display:flex;
       justify-content: center;
    }
    .movieCast{
       display:flex;
       justify-content: start;
    }
    .movieCast > div{
      margin :0px 12px;
    }
    .cinemaListing{
        display:flex;
        padding:35px 0;
        border-bottom: 1px solid #eee;
    }

    .time{
        display:flex;
        width : 130px;
        height : 65px;
         border-radius: 8px;
        border: 1px solid #eee;
        justify-content: center;
        align-items:center;
        color:mediumseagreen;
        font-size:20px;
        font-weight: 600; 
    }
    .cinemaList_col1{
        width:390px;
    }
    .cinemaList_col2{
        display : grid;
        grid-template-columns : repeat(5,1fr);
        grid-auto-rows :auto;
        justify-content: center;
        grid-row-gap:25px;
        grid-column-gap:16px;
        align-items:center;

    }

 .tooltips {
  position: relative;
  display: inline-block;

}

.tooltips .tooltiptext {
    background :white;
    display : flex;
  visibility: hidden;
    border: 2px solid #eee;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltips .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #eee transparent transparent transparent;
}

.tooltips:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.showSeatInfo{
padding : 0 12px;
}
.showSeatInfo div:first-child{
   color:#7e7e7e;
}
.showSeatInfo div:last-child{
     color: #21c179
}
    
</style>

<div class="row pb-4">
        <div class="col-4 ">
        <h2>@Model?.Title</h2>
            <div class="col-4 movieDetail">
                <ul class="censorDurationList">
                    <li>@Model?.Certificate?.Name</li>
                    <li class="ps-3">@Model?.Runtime</li>
                </ul>
                <div>

                    @if (Model?.Genres != null && Model.Genres.Any())
                     {
                     <text>@string.Join(", ", Model?.Genres.Select(l => l.Name))</text>
                     } 
                </div>
                <div>
                     @if (Model?.Languages != null && Model.Languages.Any())
                     {
                     <text>@string.Join(", ", Model?.Languages.Select(l => l.Name))</text>
                     } 
                </div>
        </div>
        
    </div>
    <div class="col-8">
            <iframe class="video-frame" width="660" height="215" src="@Model.TrailerLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

@* <div style="background-color:powderblue; width:320px; display:flex">
    <div style="margin:3px; display:flex; flex-direction:row;">
    <div style="margin:3px; width:150px;height:40px; background-color:white;  display:flex; align-items: center;justify-content: center; ">
        <a>Showlisting</a>
    </div>
    <div style="margin:3px; width:150px;height:40px; background-color:white; display:flex;  align-items: center;justify-content: center; ">
        <a>Reviews & More</a>
    </div>
    </div>
</div> *@
      
<div>
<div class="row">
    <div class="col-6">
        <input type="radio" class="btn-check" name="options-outlined" id="showlisting" autocomplete="off" checked>
       <label class="btn btn-outline-info" for="showlisting">Showlisting</label>
       
       <input type="radio" class="btn-check " name="options-outlined" id="reviews" autocomplete="off">
       <label class="btn btn-outline-secondary" for="reviews">Reviews & More</label>
    </div>

     <div class ="ratingCont d-flex col-6">
         <div class="textCont d-flex">
             <div><i class="bi bi-heart" style="color: red;"></i></div>
             <div class="ps-2">84% 
              <div>Liked this movie</div>
             </div>
         </div class="heartCont">
             <div class=" d-flex">
                 <div class="heartLike"><i class="bi bi-heart"></i>&nbsp;Like</div>
                 <div class="heartDislike"><i class="bi bi-heartbreak"></i>&nbsp;Dislike</div>
             </div>
     </div>
         
</div>
  <div id="content-showlisting" class="content">

   <div class="movieDetailWrap">
 <div class="d-flex">
   <div id="dateContainer">
       @{
           var today = DateTime.Today;
          @for(int i = 0; i < 7; i++)
           {
             <div class="dateBox">@today.AddDays(i).ToString("ddd dd")</div>        
           }
       }
   </div>
   <div class="d-flex m-3">
         <div class="dropdown ">
           <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Language
            </a>
           <ul class="dropdown-menu">
               @foreach (var Language in Model.Languages)
               {
                 <li><a class="dropdown-item" href="#">@Language.Name</a></li>
               }
           </ul>
         </div>
   
         <div class="dropdown ps-4">
           <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Format
            </a>
           <ul class="dropdown-menu">               
                 <li><a class="dropdown-item" href="#">2D</a></li>
                 <li><a class="dropdown-item" href="#">4DX-2D</a></li>
           </ul>
         </div>

         <div class="dropdown ps-4">
           <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Price
           </a>
           <ul class="dropdown-menu">    
              <li><a class="dropdown-item" href="#">Below Rs 100</a></li>
              <li><a class="dropdown-item" href="#">Rs 100 - Rs 199</a></li>
              <li><a class="dropdown-item" href="#">Rs 200 - Rs 299</a></li>
              <li><a class="dropdown-item" href="#">Rs 300 - Rs 399</a></li>
           </ul>
         </div>
   </div>
  </div>
     <div class="innerMain"> 
          <div class="widgetWrapper"> 
              @foreach(var Cinema in Model.Cinamas)
                    {
                   <div class="cinemaListing">
                     <div class="cinemaList_col1">
                             <h3 class="fs-4">@Cinema.Name, @Cinema.DetaildedAddress</h3>
                          <div class="d-flex">
                             <div class="pillButton"><i class="bi bi-sign-turn-right"></i>&nbsp;Get Directions</div>
                             <div class="pillButton"><i class="bi bi-info-circle"></i>&nbsp;More Info</div>
                          </div>
                       </div>                          
                       <div class="cinemaList_col2">
                         @if (Cinema.ShowDetails != null && Cinema.ShowDetails.Any())
{
                           @foreach(var showDetail in Cinema.ShowDetails)
                           {
                            <div class="timeBlock tooltips"> 
                               <div class="time ">
                                   @showDetail.ShowTime.ToString("hh:mm tt")
                               </div>
                              <div class="tooltiptext">
                                                @foreach (var seatInfo in showDetail.SeatAllocations)
                                                    {
                                                    <div class="showSeatInfo">
                                                        <div>@seatInfo.SeatType</div>
                                                        <div class="fw-bold">&#8377;@seatInfo.Price.ToString("0")</div>
                                                        <div>Available</div>
                                                    </div>
                                                    }
                                            </div>
  
    
                           </div>
                           }
                         }
                       </div>                              
                   </div>
                    }
                    
                    <div class="widgetWrapper">  
             <h3 class="pb-2 fs-4">@Model.Title Movie Cast</h3>
             <div class="movieCast">
                    @foreach(var Cast in Model.Casts)
                        {                                    
                    <div >
                        <div class="imgCast">
                           <img height="64" width="64" style="border-radius:50%;" src="~/@Cast.ImageUrl"/>
                       </div>
                       <div>
                           @Cast.CastName
                       </div>
                   </div>
                        }
             </div>
         </div>
          </div>
                   
     </div>
   </div>
</div>
 <div id="content-reviews" class="content" style="display: none;">
  <div class="movieDetailWrap">
     <div class="innerMain"> 
         <div class="widgetWrapper">  
             <h3>Synopsis</h3>
             <p>@Model.Synopsis</p>
         </div>
         <div class="widgetWrapper">  
             <h3>Movie Guide</h3>
             <div class="infoItem">
                 <span>CERTIFICATION</span>
                 <p>@Model.Certificate?.Name</p>
             </div>
             
             <div class="infoItem">
                <span>LANGUAGE AVAILABLE</span>
                <p>@foreach (var language in Model.Languages)
                      {
                          <a>@language.Name, </a>
                      }</p>
             </div>
             <div class="infoItem">
               <span>GENRE</span>
               <p>@foreach (var Genre in Model.Genres)
                      {
                          <a>@Genre.Name, </a>
                      }</p>
             </div>
         </div>
         <div class="widgetWrapper">  
             <h3 class="pb-2">Cast</h3>
             <div class="movieCast">
                    @foreach(var Cast in Model.Casts)
                        {                                    
                    <div >
                        <div class="imgCast">
                           <img height="64" width="64" style="border-radius:50%;" src="~/@Cast.ImageUrl"/>
                       </div>
                       <div>
                           @Cast.CastName
                       </div>
                   </div>
                        }
             </div>
         </div>
     </div>
 </div>
  </div>
 
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
        $(document).ready(function(){
            $('input[name="options-outlined"]').change(function(){
                if($('#showlisting').is(':checked')) {
                    $('#content-showlisting').show();
                    $('#content-reviews').hide();
                } else if($('#reviews').is(':checked')) {
                    $('#content-showlisting').hide();
                    $('#content-reviews').show();
                }
            });
        });
    </script>
